# ~/.config/beets/config.yaml
# https://beets.readthedocs.io/en/stable/reference/config.html

directory: ~/Music/beets
library: ~/.config/beets/library.db
plugins: duplicates missing parentwork embedart fetchart mbsync discogs beetcamp lastimport play web random
ui:
    color: yes
import:
    move: yes
    log: {{ .logDir }}/beets/beets.log
    languages: en fr de id ms gr ru
    bell: yes
match:
    preferred:
        countries: ['AU', 'GB|UK', 'US']

{{ if eq .chezmoi.os "darwin" -}}
play:
    command: /Applications/VLC.app/Contents/MacOS/VLC
{{- end }}

lastfm:
    user: claudinec
