{{/* codespaces config copied from: */}}
{{/* https://www.chezmoi.io/user-guide/machines/containers-and-vms/ */}}
{{- $codespaces:= env "CODESPACES" | not | not -}}
sourceDir: {{ .chezmoi.sourceDir | quote }}

data:
    name: "Claudine Chionh"
    codespaces = {{ $codespaces }}
    email: "info@claudinec.net"
