{{/* codespaces config copied from: */}}
{{/* https://www.chezmoi.io/user-guide/machines/containers-and-vms/ */}}
{{- $codespaces:= env "CODESPACES" | not | not -}}
sourceDir: {{ .chezmoi.sourceDir | quote }}

data:
    name: "Claudine Chionh"
    codespaces: {{ $codespaces }}
    gitEmail: "info@claudinec.net"
    emailFrom: "cc@claudinec.net"
    emailAccount: "Fastmail"
    emailLogin: "claudine@fastmail.fm"
    smtpHost: "smtp.fastmail.com"
    smtpPort: 587

