# docs: https://www.chezmoi.io/reference/configuration-file/

# codespaces config copied from:
# https://www.chezmoi.io/user-guide/machines/containers-and-vms/
{{- $codespaces:= env "CODESPACES" | not | not -}}
sourceDir: {{ .chezmoi.sourceDir | quote }}

encryption: "gpg"
gpg:
    symmetric: true

data:
    codespaces: {{ $codespaces }}
    name: "Claudine Chionh"
    gitEmail: "info@claudinec.net"
    {{ if eq .chezmoi.os "darwin" -}}
    logDir: "~/Library/Logs"
    videoDir: "~/Movies"
    {{ else -}}
    logDir: "~/.local/state/logs"
    {{ if ne .chezmoi.fqdnHostname "claudinec.nfshost.com" -}}
    videoDir: "~/Videos"
    {{- end }}
    {{- end }}
