# https://cookiecutter.readthedocs.io/en/stable/advanced/user_config.html
default_context:
    full_name: "Claudine Chionh"
    email: "hello+python@claudinec.net"
cookiecutters_dir: "{{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator }}.local/share/cookiecutter"
abbreviations:
    srht: git+ssh://git@git.sr.ht:{0}
