#### Set default values for all following accounts.
defaults

# Use the mail submission port 587 instead of the SMTP port 25.
port {{ .personalSMTPPort }}

# Always use TLS.
tls on

#### Account name
account {{ .personalEmailAccount }}

# Host name of the SMTP server
host {{ .personalSMTPHost }}

# Envelope-from address
from {{ .personalEmailAddress }}

# Authentication. Read password from 1Password (Mac) or gpg-encrypted file (Linux).
auth on
user {{ .personalEmailLogin }}
{{ if eq .chezmoi.os "darwin" -}}
password {{ onepasswordRead .personalSMTPOnepasswordUrl }}
{{- else }}
password {{ joinPath .chezmoi.sourceDir "encrypted_dot_msmtp-password.txt.asc" | include | decrypt }}
{{- end }}

{{ if .workEmailAccount -}}

#### Account name
account {{ .workEmailAccount }}

# Host name of the SMTP server
host {{ .workSMTPHost }}

# Envelope-from address
from {{ .workEmailAddress }}

# Authentication. Read password from 1Password (Mac) or gpg-encrypted file (Linux).
auth on
user {{ .workEmailLogin }}
{{ if eq .chezmoi.os "darwin" -}}
password {{ onepasswordRead .workSMTPOnepasswordUrl }}
{{- else }}
password {{ joinPath .chezmoi.sourceDir "encrypted_dot_msmtp-password.txt.asc" | include | decrypt }}
{{- end }}
{{- end }}

#### Set a default account
account default : {{ .personalEmailAccount }}

