# Set default values for all following accounts.
defaults

# Use the mail submission port 587 instead of the SMTP port 25.
port {{ .msmtpPort }}

# Always use TLS.
tls on

# Account name
account {{ .msmtpAccount }}

# Host name of the SMTP server
host {{ .msmtpHost }}

# Envelope-from address
from {{ .emailFrom }}

# Authentication. Read password from 1Password (Mac) or gpg-encrypted file (Linux).
auth on
user {{ .msmtpLogin }}
{{ if eq .chezmoi.os "darwin" -}}
password {{ onepasswordRead .msmtpOnepasswordUrl }}
{{- end }}

# Set a default account
account default : {{ .msmtpAccount }}
