# https://alot.readthedocs.io/en/latest/configuration/config_options.html
# display
displayed_headers=From, To, Cc, Bcc, Reply-To, Subject, Date, Message-ID, List-ID, User-Agent, X-Mailer
prefer_plaintext=true
quit_on_last_bclose=true
tabwidth=4
timestamp_format=%F %R

# attachments and mime
attachment_prefix=~/Desktop

# compose and reply
editor_cmd=vim
auto_replyto_mailinglist=True
honor_followup_to=True

# https://alot.readthedocs.io/en/latest/configuration/accounts.html
[accounts]
    [[{{ .personalEmailAccount }}]]
        realname = {{ .name }}
        address = {{ .personalEmailAddress }}
        alias_regexp = .+@claudinec.net
        sent_box = maildir://~/Mail{{ .chezmoi.pathSeparator }}{{ .personalEmailAccount }}{{ .chezmoi.pathSeparator }}Sent
        draft_box = maildir://~/Mail{{ .chezmoi.pathSeparator }}{{ .personalEmailAccount }}{{ .chezmoi.pathSeparator }}Drafts
        sendmail_command = msmtp --account={{ .personalEmailAccount }} -t
        message_id_domain = {{ .personalEmailDomain }}
        signature = ~/.local/share/signatures/Personal

    {{ if .workEmailAccount -}}
    [[{{ .workEmailAccount }}]]
        realname = {{ .name }}
        address = {{ .workEmailAddress }}
        alias_regexp = .+@claudinec.net
        sent_box = maildir://~/Mail{{ .chezmoi.pathSeparator }}{{ .workEmailDir }}{{ .chezmoi.pathSeparator }}Inbox.Sent
        draft_box = maildir://~/Mail{{ .chezmoi.pathSeparator }}{{ .workEmailDir }}{{ .chezmoi.pathSeparator }}Inbox.Drafts
        sendmail_command = msmtp --account={{ .workEmailAccount }} -t
        message_id_domain = {{ .workEmailDomain }}
        signature = ~/.local/share/signatures/{{ .workEmailAccount }}
    {{- end }}

