# https://alot.readthedocs.io/en/latest/configuration/config_options.html
# display
displayed_headers=From, To, Cc, Bcc, Reply-To, Subject, Date, Message-ID, List-ID, User-Agent, X-Mailer
prefer_plaintext=true
quit_on_last_bclose=true
tabwidth=4
timestamp_format=%F %R

# attachments and mime
attachment_prefix=~/Desktop

# compose and reply
editor_cmd=vim
auto_replyto_mailinglist=True
honor_followup_to=True

# https://alot.readthedocs.io/en/latest/configuration/accounts.html
[accounts]
    {{ template "alot_account.tmpl" .emailAccounts.Fastmail }}

    {{ if eq .chezmoi.os "darwin" -}}
    {{ template "alot_account.tmpl" .emailAccounts.AQuAOffice }}
    {{- end }}
