# https://alot.readthedocs.io/en/latest/configuration/config_options.html
# display
displayed_headers=From, To, Cc, Bcc, Reply-To, Subject, Date, List-ID, User-Agent, X-Mailer
prefer_plaintext=true
tabwidth=4
timestamp_format=%a %F %R

# compose and reply
editor_cmd=vim
auto_replyto_mailinglist=True
honor_followup_to=True

# https://alot.readthedocs.io/en/latest/configuration/accounts.html
[accounts]
    [[{{ .personalEmailAccount }}]]
        realname = {{ .name }}
        address = {{ .personalEmailAddress }}
        alias_regexp = .+@claudinec.net
        sent_box = maildir://~/Mail{{ .chezmoi.pathSeparator }}{{ .personalEmailAccount }}{{ .chezmoi.pathSeparator }}Sent
        draft_box = maildir://~/Mail{{ .chezmoi.pathSeparator }}{{ .personalEmailAccount }}{{ .chezmoi.pathSeparator }}Drafts
        sendmail_command = msmtp --account={{ .personalEmailAccount }} -t
        message_id_domain = {{ .personalEmailDomain }}
        signature = ~/.local/share/signatures/Personal

