#### Neomutt ####
# Common neomutt configuration.
# `source` this file from profile-specific configs.
# Guide: https://neomutt.org/guide/configuration
# Reference: https://neomutt.org/guide/reference
# Patterns: https://neomutt.org/guide/advancedusage.html#patterns
# index_format: https://neomutt.org/guide/reference.html#3-217-%C2%A0index_format

set assumed_charset="utf-8"
set attach_charset="utf-8"
set attach_save_dir="~/Desktop"
set attribution_intro="Quoting %n (%{%F %R})"
set edit_headers=yes
set editor="vim"
set forward_format="Fwd: %s (%n)"
set imap_headers="X-SPAM-SCORE"
set index_format="%4C %Z %[%a %F %R] %-32.32L (%<l?%4l&%4c>) %-24.24g %-24.24b %s"
set mbox_type=Maildir
set pager_context=3
set pager_index_lines=5
set pager_read_delay=2
set sendmail_wait=5
set send_charset="utf-8"
set sort="reverse-last-date"
set sort_aux="date"
set spool_file="inbox"
set use_threads="threads"
set user_agent=yes

# Header display.
unignore message-id bcc reply-to user-agent x-mailer folder tags

# Spam handling.
spam "X-Spam-Score"   "5+"
macro index,pager \cs <modify-labels>spam\ns "Label spam then prompt for new folder"

# MIME auto view.
auto_view text/html

# Call urlscan.
macro index,pager \cb "<pipe-message> urlscan<Enter>" "call urlscan"

#### Notmuch ####
# Docs: https://neomutt.org/feature/notmuch
# Tags: https://neomutt.org/feature/custom-tags
set nm_default_url="notmuch://{{ .chezmoi.homeDir }}/Mail"
set nm_exclude_tags="spam,trash"
set nm_record=yes
set nm_record_tags="-inbox,sent"

bind index,pager \` modify-labels
bind index,pager \\ vfolder-from-query

#### External ####
## Colours
source "catppuccin"

## Mailing lists
source "lists"
