#### Neomutt work setup ####
# vim: set syntax=neomuttrc:

#### Common config
source "neomuttrc"

# https://neomutt.org/guide/configuration.html#mailboxes
mailboxes -notify -nopoll "~/Mail/AQuA/office/INBOX" "~/Mail/Fastmail/311-AQuA"
virtual-mailboxes all "notmuch://?query=query:aqua_all"
virtual-mailboxes inbox "notmuch://?query=query:aqua_inbox"
virtual-mailboxes sent "notmuch://?query=query:aqua_sent"
virtual-mailboxes todo "notmuch://?query=query:aqua_todo"

## addresses and aliases
set from={{ .emailAccounts.AQuAOffice.address }}
set alias_file="$XDG_CONFIG_HOME/neomutt/aliases-work"
source "aliases-work"
group -group aqua_all -rx '.+@queerarchives\.org\.au'
group -group vpc_all -rx '.+@pridecentre\.org\.au'

# additional config
set ask_cc=yes
set index_format="%4C %Z %[%a %F %R] %-32.32F (%<l?%4l&%4c>) %-24.24g %-24.24b %s"
set postponed="~/Mail/AQuA/office/INBOX/Drafts"
set record="~/Mail/AQuA/office/INBOX/Sent"
set sendmail='{{ lookPath "msmtp" }} --account={{ .emailAccounts.AQuAOffice.accountName }} -t'
set signature="~/.local/share/signatures/AQuAOffice"
send-hook '%C aqua_all' 'set signature=""'
send-hook '%C aqua_committee' 'set signature=""'
send-hook '%C aqua_operations' 'set signature=""'
save-hook . "~/Mail/AQuA/office/INBOX/Archive/%[%Y/%m]"

# munge subjects -- institutional warnings
subjectrx '\[EXT\]' '%R'
