#### Neomutt setup for work ####
# vim: set syntax=neomuttrc:

# https://neomutt.org/guide/configuration.html#13-%C2%A0alternative-addresses
alternates -group aqua_me '(office|volunteers)@queerarchives\.org\.au'

# https://neomutt.org/guide/configuration.html#4-%C2%A0address-groups
group -group aqua_all -rx '.+@queerarchives\.org\.au'
group -group vpc_all -rx '.+@pridecentre\.org\.au'

# https://neomutt.org/guide/configuration.html#19-%C2%A0change-settings-based-upon-message-recipients
reply-hook '%L aqua_me' 'set signature="~/.local/share/signatures/AQuAOffice"'
reply-hook '%L aqua_me' 'set sendmail={{ lookPath "msmtp" }} --account={{ .workEmailAccount }} -t'
send-hook '%L aqua_all | %L vpc_all' 'set signature="~/.local/share/signatures/AQuAOffice"'
send-hook '%L aqua_all | %L vpc_all' 'set sendmail={{ lookPath "msmtp" }} --account={{ .workEmailAccount }} -t'

#### Notmuch ####
# Docs: https://neomutt.org/feature/notmuch
# Tags: https://neomutt.org/feature/custom-tags
virtual-mailboxes aqua_inbox "notmuch://?query=tag:inbox and tag:aqua"
