extension .log
dateext
maxsize 256K
compress
missingok
notifempty

"{{ .logDir }}/logrotate/*.log" {
  rotate 30
  daily
}

"{{ .logDir }}/rclone/*.log" {
  rotate 30
  daily
  maxage 90
}

{{ if eq .chezmoi.os "darwin" -}}
"~/Library/Logs/beets/*.log" {
  rotate 30
  daily
}

"~/Library/Logs/Hazel/*.log" {
  rotate 30
  daily
}

"~/Library/Logs/Keyboard Maestro/*.log" {
  rotate 12
  weekly
}
{{- end }}

