# This is Git's per-user configuration file.
[user]
    name  = Claudine Chionh
    email = {{ .gitEmailAddress }}
    signingkey = {{ .gitSigningKey }}
[init]
	defaultBranch = main
[github]
	user = claudinec
[color]
	ui = auto
[pull]
	rebase = false
