/SET autolog ON
/SET nick claudine
/SET alternate_nick claudinec
/SET theme greenbox
/set log_open_string --- Log opened %F %T
/set log_close_string --- Log closed %F %T
/set log_day_changed --- Day changed %F %T

