/SET nick claudinec
/SET alternate_nick claudine
/SET theme greenedge

/SET activity_hide_level joins parts quits

/SET autolog ON
/SET autolog_level all -crap -clientcrap -ctcps -joins -parts -quits -nicks
/SET log_open_string --- Log opened %F %T
/SET log_close_string --- Log closed %F %T
/SET log_day_changed --- Day changed %F %T

