# https://jrnl.sh/en/stable/reference-config-file/
linewrap: "auto"
{{ if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") ) -}}
editor: "mvim --nofork"
{{- else }}
editor: "vim"
{{- end }}

# https://jrnl.sh/en/stable/advanced/#multiple-journal-files
# ~/Private/jrnl is a single git repo
journals:
  default:
    journal: "~/Private/jrnl/default/"
    default_hour: 12
    default_minute: 0
  work:
    journal: "~/Private/jrnl/work/"
    default_hour: 9
    default_minute: 0
  