# https://www.newsboat.org/releases/2.38/docs/newsboat.html#_configuration

# general
browser "open"
cookie-cache "~/.local/share/newsboat/cookies.txt"
reload-threads 4

# colour
include "~/.local/share/catppuccin/newsboat/themes/dark"

# NewsBlur
urls-source "newsblur"
newsblur-login {{ .newsblurAccount }}
newsblur-password {{ onepasswordRead .newsblurOnepasswordUrl }}

# bookmarking
# bookmark-cmd is given four arguments: URL, post title, description, feed title

