# yt-dlp command-line options
# https://github.com/yt-dlp/yt-dlp#usage-and-options

## download management

--console-title
--download-archive "{{ .videoDir }}/yt-dlp-archive.txt"
--max-downloads 8

## output

--prefer-free-formats
--restrict-filenames
--embed-metadata
--write-thumbnail
--embed-thumbnail

--paths "{{ .videoDir }}"
--output "%(channel)s/%(upload_date)s-%(uploader)s-%(title)s-%(id)s.%(ext)s"

## subtitles

--write-subs
--write-auto-subs
--sub-langs "en.*,fr"
--embed-subs

## account-related

--cookies-from-browser vivaldi
--mark-watched

